<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>add new car</h1>

    <form action="/delta/save2">

        <label for="">Name</label>
        <input type="text" name="name" placeholder=""><br>
        <h6 style="color: red;">{{error.errors.name}}</h6>

        <label for="">Model</label>
        <input type="text" name="modal" placeholder=""><br>
        <h6 style="color: red;">{{error.errors.modal}}</h6>

        <label for="">Company Price</label>
        <input type="number" name="company_price" placeholder=""><br>
        <h6 style="color: red;">{{error.errors.company_price}}</h6>

        <label for="">Maximum Price</label>
        <input type="number" name="max_price" placeholder=""><br>
        <h6 style="color: red;">{{error.errors.max_price}}</h6>

        <button type="submit">save</button>

    </form>

</body>
</html>