<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add new employees</h1>

    <form action="" method="POST">
        {% csrf_token %}
        <label for="">Name</label>
        <input type="text" name="name" placeholder="{{obj.name}}" value="{{obj.name}}"><br>
        <h6 style="color: red;">{{error.errors.name}}</h6>

        <label for="">model</label>
        <input type="text" name="modal" placeholder="{{obj.last}}" value="{{obj.last}}"><br>
        <h6 style="color: red;">{{error.errors.last}}</h6>

       
        <button type="submit">update2</button>

    </form>


</body>
</html>